<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- MNIST train-->
        <add key="InputMnistTrainImagesPath" value="..\..\..\MNIST\train-images-idx3-ubyte\train-images.idx3-ubyte"/>
        <add key="InputMnistTrainLabelsPath" value="..\..\..\MNIST\train-labels-idx1-ubyte\train-labels.idx1-ubyte"/>
        
        <!-- MNIST test -->
        <add key="InputMnistTestImagesPath" value="..\..\..\MNIST\t10k-images-idx3-ubyte\t10k-images.idx3-ubyte"/>
        <add key="InputMnistTestLabelsPath" value="..\..\..\MNIST\t10k-labels-idx1-ubyte\t10k-labels.idx1-ubyte"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>